<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      id="de-index">
  <head>
      <title>Available Projects</title>
      <link rel="stylesheet" type="text/css" href="/knowledgebase/chrome/common/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="/knowledgebase/chrome/common/css/style.css" />
  </head>
  <body>

      <div class="col-md-3 col-xs-6 left-col">
        <div class="page-header">
          <h2>Available Projects</h2>
        </div>
        <div class="list-group">
          <py:for each="project in projects">
            <py:when test="'href' in project">
              <a class="list-group-item" href="$project.href" title="$project.description">
                <h4 class="list-group-item-heading">$project.name</h4>
                <p class="list-group-item-text">$project.description</p>
              </a>
            </py:when>
            <py:otherwise>
              <div class="list-group-item disabled">
                <h4 class="list-group-item-heading">$project.name</h4>
                <p class="list-group-item-text">$project.description</p>
                <span class="badge"><em>Error</em></span>
              </div>
            </py:otherwise>
          </py:for>
        </div>
      </div>
      <div class="col-md-9 col-xs-6 right-col">
        <h1 class="logo">WE ARE DE Ltd</h1>
      </div>
      
  </body>
</html>
