<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title py:choose="">
      <py:when test="query">Search Results</py:when>
      <py:otherwise>Search</py:otherwise>
    </title>
    <py:if test="results">
        <meta name="startIndex" content="${results.span[0] + 1}"/>
        <meta name="totalResults" content="$results.num_items"/>
        <meta name="itemsPerPage" content="$results.max_per_page"/>
    </py:if>
    <script type="text/javascript">
      jQuery(document).ready(function($) {$("#q").get(0).focus()});
    </script>
  </head>
  <body>

      <div class="page-header"><h1><label for="q">Search</label></h1></div>
      <form id="fullsearch" action="${href.search()}" method="get">
        <div class="input-group">
          <input type="text" class="form-control" id="q" name="q" size="40" value="${query}" />
          <input type="hidden" name="noquickjump" value="1" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">${_('Search')}</button>
          </span>
        </div>
        <div class="checkbox">
          <py:for each="filter in filters">
              <label for="${filter.name}" class="checkbox-inline">
                <input type="checkbox" id="${filter.name}" name="${filter.name}" checked="${filter.active or None}" />
                ${filter.label}
              </label>
          </py:for>
       </div>
      </form>

      <py:if test="results or quickjump">
        <div class="page-header"><h3 py:if="results">Results <span class="label label-info">(${results.displayed_items()})</span></h3></div>
        <xi:include py:with="paginator = results" href="page_index.html" />
          <div class="list-group">
            <py:if test="quickjump">
              <a href="${quickjump.href}" i18n:msg="name" class="list-group-item">
                <h4 class="list-group-item-heading">Quickjump to ${quickjump.name}</h4>
                <p class="list-group-item-text">${quickjump.description}</p>
              </a>
            </py:if>
            <py:for each="result in results">
              <a href="${result.href}" class="list-group-item">
                <h4 class="list-group-item-heading">${result.title}</h4>
                <p class="list-group-item-text">${result.excerpt}</p>
                <py:if test="result.author"><span class="label label-primary" i18n:msg="author">By ${format_author(result.author)}</span></py:if>
                <span class="label label-default">${result.date}</span>
              </a>
            </py:for>
          </div>
        <xi:include py:with="paginator = results" href="page_index.html" />
      </py:if>

      <div class="alert alert-warning" role="alert" py:if="query and not (results or quickjump)">
        No matches found.
      </div>

      <p i18n:msg="">
        <strong>Note:</strong> See <a href="${href.wiki('TracSearch')}">TracSearch</a> for help on searching.
      </p>

  </body>
</html>
