<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:strip="">

    <head py:match="head" py:attrs="select('@*')">
      ${select('*|comment()|text()')}
      <link rel="stylesheet" type="text/css" href="${chrome.htdocs_location}css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="${chrome.htdocs_location}css/style.css" />
    </head>

  <py:match path="body" once="true" buffer="false">
    <body>


      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header" py:choose="">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a py:when="chrome.logo.src" id="logo" href="${chrome.logo.link or href.wiki('TracIni')+'#header_logo-section'}" class="navbar-brand"><img
            src="${chrome.logo.src}" alt="${chrome.logo.alt}"
            height="${chrome.logo.height or None}" width="${chrome.logo.width or None}" /></a>
            <a py:otherwise="" href="${chrome.logo.link}" class="navbar-brand">${project.name}</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">${chrome['nav']['metanav'][0]['label']} <span class="caret"></span></a>
                <?python chrome['nav']['metanav'].pop(0) ?>
                <ul py:if="chrome.nav['metanav']" class="dropdown-menu">
                  <li py:for="idx, item in  enumerate(chrome.nav['metanav'])"
                  class="${classes(first_last(idx, chrome.nav['metanav']), active=item.active)}">${item.label}</li>
                </ul>
              </li>
            </ul>
            <ul py:if="chrome.nav['mainnav']" class="nav navbar-nav navbar-right">
              <li py:for="idx, item in  enumerate(chrome.nav['mainnav'])"
                  class="${classes(first_last(idx, chrome.nav['mainnav']), active=item.active)}">${item.label}</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>


      <div class="container ${classes(uisymbols=req.session.get('ui.use_symbols'),
                                        uinohelp=req.session.get('ui.hide_help'))}">
          <div class="page-header">
            <xi:include py:if="value_of('resourcepath_template')" href="${resourcepath_template}" />
            <ul py:if="chrome.ctxtnav" class="nav navbar-nav navbar-right">
              <li py:for="i, elm in enumerate(chrome.ctxtnav)"
                  class="${classes(first_last(i, chrome.ctxtnav))}">$elm</li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div py:if="chrome.warnings" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <py:choose test="len(chrome.warnings)">
              <strong>Warning:</strong>
              <py:when test="1">${chrome.warnings[0]}</py:when>
              <py:otherwise><ul><li py:for="warning in chrome.warnings">$warning</li></ul></py:otherwise>
            </py:choose>
          </div>
          <div py:if="chrome.notices" class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <py:choose test="len(chrome.notices)">
              <py:when test="1">${chrome.notices[0]}</py:when>
              <py:otherwise><ul><li py:for="notice in chrome.notices">$notice</li></ul></py:otherwise>
            </py:choose>
          </div>

          ${select('*|text()|comment()')}
      </div>


      <div class="footer" xml:lang="en">
        <div class="container">
          <p class="text-muted pull-left" i18n:msg="version">Powered by <a href="${href.about()}"><strong>Trac ${trac.version}</strong></a> By <a href="http://www.edgewall.org/">Edgewall Software</a>.</p>
          <p class="text-muted pull-right">${chrome.footer}</p>
        </div>
      </div>


    <!-- Put script at the end for faster loading. -->
    <script src="${chrome.htdocs_location}js/bootstrap.min.js"></script>

    </body>
  </py:match>
</html>
