<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>Timeline</title>
    <script type="text/javascript">/*<![CDATA[*/
      jQuery(document).ready(function($) {
        $("#fromdate").datepicker();
      });
    /*]]>*/</script>
  </head>

  <body>

      <div class="page-header"><h1>Timeline</h1></div>

    <div class="row">
     <div class="col-md-3">
      <form method="get" action="" class="well">
        <div class="form-group"><label>View changes from</label> <input class="form-control" type="text" id="fromdate" size="10" name="from" value="${format_date(fromdate)}" /></div>
        <div class="form-group"><label>and</label> <input class="form-control" type="text" size="3" name="daysback" value="$daysback" /></div>
        <div class="form-group"><label>days back done by</label> <input class="form-control" type="text" size="16" name="authors" value="$authors" /></div>
        <py:for each="filter in filters">
           <div class="checkbox">
           <label>
             <input type="checkbox" name="${filter.name}" checked="${filter.enabled or None}"/> ${filter.label}
           </label>
           </div>
        </py:for>
        <button type="submit" name="update" class="btn btn-default">${_('Update')}</button>
      </form>
     </div>

     <div class="col-md-9">
      <py:for each="day, events in groupby(events, key=lambda e: format_date(e.date))">
        <div class="panel panel-default">
          <div class="panel-heading">${day}: ${_("Today") if day == today else _("Yesterday") if day == yesterday else None}</div>
            <ul py:for="unread, events in groupby(events, key=lambda e: lastvisit and lastvisit &lt; e.dateuid)"
                class="${'unread' if unread else None} list-group">
              <py:for each="event in events"
                py:with="highlight = precision and precisedate and timedelta(0) &lt;= (event.date - precisedate) &lt; precision">
                <li class="${classes(event.kind, highlight=highlight, unread=unread)} list-group-item">
                  <a href="${event.render('url', context)}" py:choose="">
                    <py:when test="event.author"><i18n:msg params="time, title, author">
                      <span class="author">${format_author(event.author)}</span>: 
                      <span class="time">${format_time(event.date, 'short')}</span> ${event.render('title', context)}
                    </i18n:msg></py:when>
                    <py:otherwise>
                      <span class="time">${format_time(event.date, 'short')}</span> ${event.render('title', context)}
                    </py:otherwise>
                  </a>
                  <span class="${classes(event.kind, highlight=highlight)} label label-info">${event.render('description', context)}</span>
                </li>
              </py:for>
            </ul>
        </div>
      </py:for>
     </div>
    </div>

      <p i18n:msg="">
        <strong>Note:</strong> See <a href="${href.wiki('TracTimeline')}">TracTimeline</a> for information about the timeline view.
      </p>

    
  </body>
</html>
