<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:with="modify_perm = 'WIKI_MODIFY' in perm(page.resource);
               admin_perm = 'WIKI_ADMIN' in perm(page.resource);
               is_not_latest = page.exists and page.version != latest_version">
  <xi:include href="layout.html" />
  <head>
    <title py:if="title">$title</title>
    <meta py:if="version or page.author == 'trac'" name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <link py:if="admin_perm or (not page.readonly and modify_perm)" rel="alternate" type="application/x-wiki"
          href="${href.wiki(page.name, action='edit', version=page.version if is_not_latest else None)}"
          title="${_('Revert page to this version') if is_not_latest else _('Edit this page')}"/>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("body").find("h1,h2,h3,h4,h5,h6").addAnchor(_("Link to this section"));
        $("body").find(".wikianchor").each(function() {
          $(this).addAnchor(babel.format(_("Link to #%(id)s"), {id: $(this).attr('id')}));
        });
        $(".foldable").enableFolding(true, true);
      });
    </script>
  </head>

  <body>

      <py:if test="version">
        <table class="table" summary="Revision info">
          <tbody>
            <tr><th scope="row" i18n:msg="version, author, date">
               Version $page.version (modified by ${authorinfo(page.author)}, ${pretty_dateinfo(page.time)})
               (<a href="${href.wiki(page.name, action='diff', version=page.version)}">diff</a>)
            </th></tr>
            <tr><td class="message" xml:space="preserve">
              ${wiki_to_html(context, page.comment or '--')}
            </td></tr>
          </tbody>
        </table>
      </py:if>

  <div class="row">
   <div class="col-md-9">
      <div py:choose="" xml:space="preserve">
        <py:when test="page.exists">
          <div py:content="wiki_to_html(context, text)" />
        </py:when>
        <py:otherwise>
          <p i18n:msg="name">The page ${name_of(page.resource)} does not exist. You can create it here.</p>
          <py:if test="higher">
            <p>You could also create the same page higher in the hierarchy:</p>
            <ul>
              <li py:for="markup in higher">${markup}</li>
            </ul>
          </py:if>
        </py:otherwise>
      </div>
   </div>

   <div class="col-md-3">
      <xi:include href="list_of_attachments.html"
                  py:with="alist = attachments; compact = True; foldable = True"/>

      <py:with vars="delete_perm = 'WIKI_DELETE' in perm(page.resource);
                     rename_perm = 'WIKI_RENAME' in perm(page.resource)">
        <py:if test="admin_perm or (not page.readonly and (modify_perm or delete_perm))">
          <div class="well">
            <py:if test="modify_perm">
              <form method="get" action="${href.wiki(page.name)}" id="modifypage">
                <p>
                  <input type="hidden" name="action" value="edit" />
                  <py:choose>
                    <py:when test="is_not_latest">
                      <input type="hidden" name="version" value="${page.version}"/>
                      <button type="submit" class="btn btn-warning btn-block">${_('Revert to this version')}</button>
                    </py:when>
                    <py:when test="page.exists">
                      <button type="submit" class="btn btn-warning btn-block" accesskey="e">${_('Edit this page')}</button>
                    </py:when>
                    <py:otherwise>
                      <button type="submit" class="btn btn-success btn-block" accesskey="e">${_('Create this page')}</button>
                      <div py:if="templates" id="template">
                        <label for="template">Using the template:</label>
                        <select name="template">
                          <option selected="${not default_template in templates or None}"
                                  value="">(blank page)</option>
                          <option py:for="t in sorted(templates)" value="$t"
                                  selected="${t == default_template or None}">$t</option>
                        </select>
                      </div>
                    </py:otherwise>
                  </py:choose>
                </p>
              </form>
              <py:if test="page.exists">
                <xi:include href="attach_file_form.html" py:with="alist = attachments"/>
              </py:if>
            </py:if>
            <form method="get" action="${href.wiki(page.name)}" id="rename" py:if="page.exists and rename_perm">
              <p>
                <input type="hidden" name="action" value="rename" />
                <button type="submit" class="btn btn-default btn-block">${_('Rename page')}</button>
              </p>
            </form>
            <form method="get" action="${href.wiki(page.name)}" py:if="page.exists and delete_perm">
              <div id="delete" class="btn-group btn-group-justified">
                <py:if test="page.version == latest_version">
                  <div class="btn-group"><button type="submit" name="delete_version" class="btn btn-danger btn-xs">${_('Delete this version')}</button></div>
                </py:if>
                <div class="btn-group">
                  <input type="hidden" name="action" value="delete" />
                  <input type="hidden" name="version" value="$page.version" />
                  <button type="submit" class="btn btn-danger btn-xs">${_('Delete page')}</button>
                </div>
              </div>
            </form>
          </div>
        </py:if>
      </py:with>

      <div py:if="not page.exists and related">
        <p>The following pages have a name similar to this page, and may be related:</p>
        <ul>
          <li py:for="markup in related">${markup}</li>
        </ul>
      </div>

        <py:if test="page.exists">
          <?python
            last_modification = (page.comment and
                 _('Version %(version)s by %(author)s: %(comment)s',
                   version=page.version, author=format_author(page.author), comment=page.comment) or
                 _('Version %(version)s by %(author)s',
                   version=page.version, author=format_author(page.author)))
          ?>
          <p py:if="not version" class="alert alert-warning text-center">
            <span i18n:msg="reldate">
              <a href="${href.wiki(page.name, action='diff', version=page.version)}"
                 title="$last_modification">Last modified</a> ${pretty_dateinfo(page.time)}
            </span>
          </p>
        </py:if>


   </div>
  </div>


  </body>
</html>
